.form-content {
  padding: 0 30px 0 30px;
}

.invalid {
  border: 0.5px red solid;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 5px;
  background: #a51f1f;
  color: white;
}

.submit-btn {
  border-radius: 5px;
  background: #a51f1f;
  color: white;
  margin-right: 10px;
  min-width: 95px;
}

.fa-minus-circle {
  float: right;
  cursor: pointer;
}

@media screen and (min-width: 1151px) {
  .form-content {
    padding: 0 25% 0 25%;
  }
}
