<div class="form-content">
  <i *ngIf="update" class="fa fa-minus-circle color-red" (click)="deleteResource(resourceId)"></i>
  <form *ngIf="formLoaded" [formGroup]="form" enctype="multipart/form-data">

    <div class="form-group">
      <label>Tytuł</label>
      <input class="form-control" type="text" classid="username" formControlName="title"
             [ngClass]="{'invalid': validField('title')}"/>
    </div>

    <div class="form-group">
      <label>Autor</label>
      <input class="form-control" type="text" id="author" formControlName="author"/>
    </div>

    <div class="form-group">
      <label>Wydawca</label>
      <input class="form-control" type="text" id="publishing" formControlName="publishing"/>
    </div>

    <div class="form-group">
      <label>Typ</label>
      <select class="form-control" formControlName="type" [(ngModel)]="selectedType" [ngClass]="{'invalid': validField('type')}">
        <option *ngFor="let t of types" [value]="t.id">{{ t.name }}</option>
      </select>
    </div>

    <div class="form-group">
      <label class="custom-file-upload">
        <input type="file" id="image" (change)="onFileChange($event)" #fileInput>
        Załaduj obraz
      </label>
      {{selectFile || 'Nie wybrano obrazu'}}
    </div>
    <div style="margin-top: 10px; text-align: center;">
      <input type="submit" value="Zapisz" (click)="submit()" class="btn submit-btn">
      <button class="btn submit-btn reverse" (click)="getBack()">Anuluj</button>
    </div>
  </form>
</div>
