<div class="main-container">
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" (click)="toggle()">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <div #wrapper class="sidenav-container">
    <div class="container-fluid p-0">
      <div class="sidenav-menu">
        <ul class="list-group">
          <li class="list-group-item">
            <svg-icon src="/assets/home.svg" class="menu-ico" [routerLink]="['main']" (click)="toggle()"></svg-icon>
          </li>
          <li class="list-group-item">
            <svg-icon src="/assets/plus.svg" class="menu-ico" [routerLink]="['add']" (click)="toggle()"></svg-icon>
          </li>
          <li class="list-group-item">
            <svg-icon src="/assets/refresh.svg" class="menu-ico" (click)="clearImages()"></svg-icon>
          </li>
          <hr>
          <li class="list-group-item">
            <svg-icon src="/assets/list.svg" class="menu-ico" (click)="setTypeList(1); toggle()"></svg-icon>
          </li>
          <li class="list-group-item">
            <svg-icon src="/assets/images.svg" class="menu-ico" (click)="setTypeList(2); toggle()"></svg-icon>
          </li>
          <li class="list-group-item">
            <svg-icon src="/assets/list2.svg" class="menu-ico" (click)="setTypeList(3); toggle()"></svg-icon>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
