@import '../../assets/variable';

.main-container {
  background: linear-gradient(to bottom, #000b0e 0%, #3e3e3e 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  mat-toolbar {
    box-shadow: 1px 1px 6px 0px grey;
    background: $mainColor;
  }
}

.sidenav-container {
  z-index: 1;
  background: black;
  width: 70px;
  height: 100%;
  position: fixed;
  left: -70px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidenav-container.show {
  width: 70px;
  left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  .sidenav-menu {
    width: 100%;
  }
}

.mat-sidenav-content {
  height: 90%;
}

.menu-button {
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  cursor: pointer;
  border: 1px solid white;
}

.transparent {
  background: transparent;
}

.list-group-item {
  cursor: pointer;
  background: none;
}

.navbar {
  background: #940000 !important;
}

@media screen and (min-width: 800px) {
  .sidenav-menu {
    width: 100%;
  }
}

.menu-ico {
  fill: white;
  width: 25px;
  &:hover {
    fill: #940000;
  }
}

