.main-container {
  background: red;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.sidenav-container {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.sidenav-menu {
  width: 40%;
}

.mat-sidenav-content {
  height: 90%;
}

.menu-button {
  width: 100%;
}
