<div class="main-container">
  <mat-toolbar>
    <button (click)="sidenav.toggle()"><i class="fa fa-bars" aria-hidden="true"></i></button>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened="false" class="sidenav-menu">
      <mat-list>
        <mat-list-item>
          <button mat-raised-button class="menu-button" [routerLink]="['list']">Lista</button>
        </mat-list-item>
        <mat-list-item>
          <button mat-raised-button class="menu-button" [routerLink]="['add']">Dodaj</button>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
