.h-30 {
  height: 30%;
  min-height: 200px;
}

.image-content {
  min-height: 220px;
}

.image-book {
  width: 100%;
  min-height: 100%;
  background: no-repeat 100%;
  background-size: contain;
  background-position-x: center;
  background-position-y: top;
  cursor: pointer;
}

.app-header {
  font-size: 14px;
}

.return {
  border: 1px solid #71e271;
}

.ico-action {
  float: right;
  font-size: 20px;
  cursor: pointer;
  &:hover {
    color: grey;
    transition: color 1s;
  }
}

.m-r-10 {
  margin-right: 10px;
}

.app-header {
  font-weight: 800;
}

.add-borrow-btn {
  position: absolute;
  right: 50px;
  font-size: 25px;
}

.back-btn {
  position: fixed;
  top: 15px;
  right: 10px;
}

.edit-btn {
  font-size: 25px;
  position: absolute;
  color: white;
  cursor: pointer;
}

.accordion-item {
  box-shadow: 1px 1px 1px 1px grey;
  margin-bottom: 5px;
  border-radius: 10px;
}

.details-content {
  color: white;
}

.btn-borrow {
  background: #940000;
  color: white;
  border-radius: 5px;
}
