/* You can add global styles to this file, and also import other style files */
@import "assets/variable";

body {
  margin: 0;
}

.mat-list-item-content {
  padding: 0 !important;
}

.w-100 {
  width: 100% !important;
}

.main-b {
  background: #000000;
}

app-resource-details {
  position: absolute;
  height: 90%;
  width: 100%;
  overflow: auto;
}

app-resource-details .mat-list-item-content {
  display: block !important;
}

.color-green {
  color: #71e271;
}

.color-red {
  color: red;
}

@media screen and (min-width: 1151px) {
  .details-content {
    padding: 0 25% 0 25%;
  }
}

mat-sidenav {
  background: $mainColor !important;
  padding: 6px;
  margin-left: -10px;
}

.d-contents {
  position: relative;
}

app-resource-details {
  accordion {
    margin-top: 10px;
    width: 100%;
    accordion-group {
      .btn {
        color: white !important;
        text-decoration: none !important;
      }
      .panel-default {
        background: transparent!important;
        color: white;
      }
    }
  }
}

.align-items-center {
  align-items: center;
}

.bold {
  font-weight: bold;
}

app-resources {
  .nav {
    border: 1px white solid;
    border-radius: 5px;
  }
  .nav-link {
    svg-icon {
      fill: white;
    }
  }
  .nav-link.active {
    svg-icon {
      fill: black;
    }
  }
}

