<div class="list">
  <div class="list-item" *ngFor="let item of items">
    <div class="row m-0 title-content">
      <span class="title">{{item.title}}</span>
      <i class="fa fa-gift" aria-hidden="true" *ngIf="item.isBorrow"></i>
    </div>
    <div class="row m-0">
      <div class="image-book" [ngStyle]="{'background-image':'url(' + url + '/images/thumb_' + item.img + ')'}">
        <i class="fa fa-info-circle info" aria-hidden="true" [routerLink]="['../details', item.id]"></i>
      </div>
    </div>
  </div>
</div>

